{% extends "loggedin_base.html" %}
{% block title %} Dashboard {% endblock %}
{% block content %}


<div class="container">
    <h1 style="text-align: center ;">Dashboard</h1>
    <br>
    <img src="{{ url_for('static', filename='user_icon.png') }}" width="200" height="200" class="rounded mx-auto d-block" alt="user_icon">
    <h3 style="text-align: center;">{{uname}}</h3>
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Task ID</th>
                <th scope="col">Task</th>
                <!-- <th scope="col">User</th> -->
            </tr>
        </thead>
        <tbody>
            {% for row in tasks %}
            <tr>
                {% for cell in row %}
                <td> {{ cell }} </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action="{{url_for('add_task')}}" method="POST">
    <label>Add Task</label>
    <br>
    <textarea id="add_task" name="add_task" value='add_task' rows="4" cols="50" placeholder="Input task here">
    </textarea>
    <br>
    <button type="submit" value="add" class="btn btn-primary">Add</button>
    </form>
    <br><br>
    
    <form action="{{url_for('del_task')}}" method="POST">
    <label>Delete Task</label>
    <br>
    <input type="number" name="del_task" value='del_task' id="del_task" placeholder="Input or select Task ID" min="1">
    <br><br>
    <button type="submit" value="del" class="btn btn-primary">Delete</button>
    </form>

    

    <!-- <form method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Delete Task</label>
            <input type="text" class="form-control" id="del_task" name="del_task" placeholder="Enter Task ID">
        </div>
        <div class="col-md-12 text-center">
            <button type="submit" value="sumbit" class="btn btn-primary">Submit</button>
        </div>
    </form> -->

</div>

{% endblock %}