{% extends "noneLoggedin.html" %}
{% block title %} Welcome Page {% endblock %}
{% block content %}


<div class="container">
    <h1 style="text-align: center ;">Welcome to the ToDoApp</h1>
    <p style="text-align: center;">This application is made to keep track of your daily tasks.</p>
    <br>
    <p style="text-align: center;">Sign in or Register for free!</p>
    <br>
    <div class="col-md-12 text-center">
        <a href="login"><button type="button" class="btn btn-primary btn-lg">Login</button></a>
        <a href="register"><button type="button" class="btn btn-secondary btn-lg">Register</button></a>
    </div>
</div>


{% endblock %}